@font-face {
  font-family: 'Arial-Bold';
  src: url("../fonts/Arial/Arial-Bold.TTF");
}

@font-face {
  font-family: 'Arial-Narrow';
  src: url("../fonts/Arial/Arial-Narrow.TTF");
}

@font-face {
  font-family: 'Arial-Regular';
  src: url("../fonts/Arial/Arial-Regular.TTF");
}

.login-body {
  background-color: #252b35;
}

.index-body {
  background-color: #252b35;
}

.form-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  margin: 3% auto;
  border-radius: 4px;
  background-color: #0e141e;
  border-left: 7px solid #0a71c2;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.form-container .errors {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  font-size: 15px;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 6px;
  border-radius: 3px;
  padding-bottom: 6px;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

.form-container .errors .icon {
  font-size: 1.3rem;
  text-align: center;
}

.form-container .bummer {
  color: #f44336;
  background-color: #ffdddd;
  border-left: 5px solid #f44336;
}

.form-container .hooray {
  color: #4caf50;
  background-color: #ddffdd;
  border-left: 5px solid #4caf50;
}

.form-container .check {
  color: #2196f3;
  background-color: #e7f3fe;
  border-left: 5px solid #2196f3;
}

.form-container .error-message {
  padding-top: 4px;
}

.form-container .white-form-section {
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-container .dark-form-section {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.form-container .dark-form-section h1.slogan {
  color: #fafafa;
  font-size: 5rem;
  font-size: 4.8rem;
  margin-bottom: 3.5rem;
  font-family: 'Arial-Bold';
  text-transform: capitalize;
}

.form-container .dark-form-section .vote-icon {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 9rem;
  font-size: 100px;
  color: #252b35;
  margin-bottom: 33px;
  text-shadow: 1px 1px 2px #202020;
}

.form-container .dark-form-section .vote {
  padding: 2px 20px;
  border-radius: 3px;
  background-color: #0a71c2;
  text-shadow: 1px 2px 7px #202020;
}

.form-container .input-container {
  height: 35rem;
  margin-top: 4%;
  margin-left: 8%;
  padding-top: 4%;
  margin-right: 8%;
  margin: 0% 15% 0% 10%;
}

.form-container .text-logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  color: #384047;
  text-align: center;
  letter-spacing: -0.049em;
  text-transform: capitalize;
  font-family: 'Arial-Bold', sans-serif;
}

.form-container .text-logo i {
  line-height: 1.1;
  font-size: 30px;
  color: #2196f3;
  font-style: normal;
}

.dash-body {
  background-color: #eeeeee;
}

.dash-logo {
  font-weight: 900;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -0.029em;
  text-transform: capitalize;
  color: #363e4d;
  font-family: 'Arial-Bold', sans-serif;
}

.dash-logo i {
  color: #2f75c9;
  line-height: 1.1;
  font-style: normal;
  padding-left: 0px;
  padding-top: 0px;
  font-size: 24px;
}

.admin-profile {
  padding-top: 3px;
  margin-left: 10px;
}

.admin-pic {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 2px solid #fafafa00;
}

.search-input {
  border: none;
  width: 100%;
  color: #939393;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.dash-username {
  color: #384047;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.049em;
  text-transform: capitalize;
}

.dash-nav {
  display: -ms-grid;
  display: grid;
  height: 3.2rem;
  overflow-x: hidden;
  background-color: #fff;
  -ms-grid-columns: 18% 64% 20%;
      grid-template-columns: 18% 64% 20%;
  border-bottom: 2px solid #dee0e0;
}

.dash-section-3 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.dash-section-3 a:hover {
  text-decoration: none;
}

.main-body {
  background-color: #252b35;
}

.main-body .display-4 {
  color: #fff;
  line-height: 2;
  line-height: 1.2;
  font-weight: 300;
  font-size: 3.5rem;
  font-size: 2.9rem;
  text-align: center;
}

.main-body .index-slogan {
  line-height: 2;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.9;
  font-weight: 100;
  text-align: center;
  letter-spacing: -0.002em;
}

.logout {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 900;
  color: #363e4d;
  text-align: center;
  letter-spacing: 0.065em;
  font-family: 'Arial-Bold', sans-serif;
}

.main-section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17% 65% 18%;
      grid-template-columns: 17% 65% 18%;
  height: 100vh;
}

.main-section-container .side-nav {
  width: 85%;
  margin: 4% auto;
  height: 34rem;
  background-color: #fff;
}

.card-section {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (250px)[3];
      grid-template-columns: repeat(3, 250px);
}

.card-section a {
  color: #fff;
}

.card-section a:hover {
  color: #fff;
}

.card-container {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card-container:hover {
  cursor: pointer;
}

.card-container a:hover {
  text-decoration: none;
}

.card-container .card-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0;
  padding-top: 2.75rem;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.card-container .card-footer {
  color: #202020;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 1.75rem 1.25rem;
}

.card-container .card-footer:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-1 {
  background-color: #fc6e51;
}

.card-2 {
  background-color: #48cfad;
}

.card-3 {
  background-color: #f6bb42;
}

.shrink {
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: transform;
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
}

.shrink:hover, .shrink:focus, .shrink:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.candidates-container {
  background-color: #cecece;
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 4px;
}

.table-container {
  background-color: #fff;
  width: 80%;
  height: 10rem;
  margin: auto;
  border-radius: 8px;
}

.accordion {
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-left: 6px solid #0a71c2;
}

.active, .accordion:hover {
  background-color: #384150;
  color: #fff;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.top-accordion {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
