// Imported Fonts
@font-face {
    font-family: 'Arial-Bold';
    src: url('../fonts/Arial/Arial-Bold.TTF');
}

@font-face {
    font-family: 'Arial-Narrow';
    src: url('../fonts/Arial/Arial-Narrow.TTF');
}

// SCSS Variables
$blue:darken(#007bff, 10%);   //#009eac
$white: #fafafa;
$shadow: #000;

// Main styles
.login-body {
    background-color:#323234;
   }

// Form styles
.form-container {
    display: grid;
    width: 80%;
    height: 35rem;
    margin: auto;
    margin-top: 3.1%;
    grid-template-columns: 45% 55%;
    border-left: 7px solid $blue;
    background-color: #1b1b1d;
    border-radius: 5px;

    .errors {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 10% 90%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 6px;
        padding-left: 0px;
        border-radius: 4px;
        font-size: 15px;

        .icon {
            text-align: center;
            font-size: 1.3rem;
        }
    }

    .bummer{
        background-color: #fbe9e7;
        color: #e02e16;
        border-left: 5px solid #d50001;
    }

    .hooray{
        background-color: #e0f2f1;
        color: #00bfa5;
        border-left: 5px solid #00bfa5;
    }

    .check{
        background-color: #fff5d1;
        color: #ebbc00;
        border-left: 5px solid #ebbc00;
    }

    .white-form-section {
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 7px;
    }

    .dark-form-section {
        text-align: center;
    }

    h1.slogan {
        font-family: 'Arial-Bold';
        color: $white;
        font-size: 4rem;
        text-transform: capitalize;
        padding-top: 10%;
        // text-shadow: 1px 1px 1px $shadow;

    }

    .vote {
        background-color: $blue;
        padding: 2px 20px;
        text-shadow: 1px 2px 5px $shadow;
        border-radius: 4px;
    }

    .vote-icon {
        font-size: 100px;
        color: #363638;
        padding-top: 21%;
        text-shadow: 1px 1px 2px $shadow;

    }

    .input-container {
        // background-color: #384047;
        height: 35rem;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 4%;
        margin: 0% 15% 0% 10%;
        padding-top: 4%;
    }

    .text-logo {
        color: #384047;
        font-family: 'Arial-Bold', sans-serif;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: -0.049em;
        line-height: 1.2;
        font-weight: 900;
        text-align: center;

        i {
            color: darken(#007bff, 6%);
            font-size: 30px;
            line-height: 1.1;
            font-style: normal;
        }
    }

}
