// Imported Fonts
@font-face {
    font-family: 'Arial-Bold';
    src: url('../fonts/Arial/Arial-Bold.TTF');
}

@font-face {
    font-family: 'Arial-Narrow';
    src: url('../fonts/Arial/Arial-Narrow.TTF');
}

// SCSS Variables
$red:#a0021f;
$white: #fafafa;
$shadow: #000;

// Main styles
.login-body {
    background-color:#243137;
   }

// Form styles
.form-container {
    display: grid;
    width: 80%;
    height: 84vh;
    margin: auto;
    margin-top: 3%;
    grid-template-columns: 40% 60%;
    text-align: center;
    border-left: 7px solid $red;
    background-color: #1b2023;
    box-shadow: 0 16px 24px 2px #0000001a, 0 6px 10px 5px #0000001a, 0 8px 10px -5px #00000033;
    border-radius: 7px;

    .white-form-section {
        background-color: #f4f4f4;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    // .dark-form-section {
    // }

    h1.slogan {
        font-family: 'Arial-Bold';
        color: $white;
        font-size: 4rem;
        text-transform: capitalize;
        padding-top: 10%;
        // text-shadow: 1px 1px 1px $shadow;

    }

    .vote {
        background-color: $red;
        padding: 2px 20px;
        text-shadow: 3px 2px 7px $shadow;
        border-radius: 4px;
    }

    .vote-icon {
        font-size: 100px;
        color: #22292c;
        padding-top: 21%;
        text-shadow: 1px 1px 2px $shadow;

    }

}
